<a href="https://colab.research.google.com/github/amulya1221/python-git-project/blob/main/KNN_crop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
data=pd.read_csv('crop.csv')

In [2]:
data

        N   P   K  temperature   humidity        ph    rainfall   label
0      90  42  43    20.879744  82.002744  6.502985  202.935536    rice
1      85  58  41    21.770462  80.319644  7.038096  226.655537    rice
2      60  55  44    23.004459  82.320763  7.840207  263.964248    rice
3      74  35  40    26.491096  80.158363  6.980401  242.864034    rice
4      78  42  42    20.130175  81.604873  7.628473  262.717340    rice
...   ...  ..  ..          ...        ...       ...         ...     ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

In [3]:
x=data.iloc[:,0:-1].values

In [4]:
x

array([[ 90.        ,  42.        ,  43.        , ...,  82.00274423,
          6.50298529, 202.9355362 ],
       [ 85.        ,  58.        ,  41.        , ...,  80.31964408,
          7.03809636, 226.6555374 ],
       [ 60.        ,  55.        ,  44.        , ...,  82.3207629 ,
          7.84020714, 263.9642476 ],
       ...,
       [118.        ,  33.        ,  30.        , ...,  67.22512329,
          6.36260785, 173.3228386 ],
       [117.        ,  32.        ,  34.        , ...,  52.12739421,
          6.75879255, 127.1752928 ],
       [104.        ,  18.        ,  30.        , ...,  60.39647474,
          6.77983261, 140.9370415 ]])

In [5]:
y=data.iloc[:,-1].values

In [6]:
y

array(['rice', 'rice', 'rice', ..., 'coffee', 'coffee', 'coffee'],
      dtype=object)

In [7]:
#we are going to convert categorical data into string data by using pandas
z=pd.get_dummies(data.label)

In [8]:
z

      apple  banana  blackgram  ...  pomegranate  rice  watermelon
0         0       0          0  ...            0     1           0
1         0       0          0  ...            0     1           0
2         0       0          0  ...            0     1           0
3         0       0          0  ...            0     1           0
4         0       0          0  ...            0     1           0
...     ...     ...        ...  ...          ...   ...         ...
2195      0       0          0  ...            0     0           0
2196      0       0          0  ...            0     0           0
2197      0       0          0  ...            0     0           0
2198      0       0          0  ...            0     0           0
2199      0       0          0  ...            0     0           0

[2200 rows x 22 columns]

In [9]:
y=z.values

In [10]:
y

array([[0, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 0, 1, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=uint8)

In [11]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x=sc.fit_transform(x)

In [12]:
x

array([[ 1.0687974 , -0.34455075, -0.1016875 , ...,  0.47266646,
         0.04330173,  1.8103605 ],
       [ 0.93332887,  0.14061552, -0.14118477, ...,  0.39705125,
         0.73487256,  2.24205791],
       [ 0.25598625,  0.04964684, -0.08193887, ...,  0.48695381,
         1.77151047,  2.92106603],
       ...,
       [ 1.82742114, -0.61745677, -0.35841972, ..., -0.19123516,
        -0.13812031,  1.27141766],
       [ 1.80032743, -0.64777967, -0.27942519, ..., -0.86951801,
         0.37390383,  0.43154519],
       [ 1.44810927, -1.07230015, -0.35841972, ..., -0.49802006,
         0.40109573,  0.68200518]])

In [13]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [14]:
x_train

array([[-0.74648083, -0.98133147, -0.43741425, ...,  0.98696675,
        -0.73405606,  0.83278958],
       [ 1.42101556, -0.34455075, -0.61515194, ...,  0.59003747,
         0.07503808, -0.40775807],
       [ 0.68948553, -0.1626134 , -0.59540331, ..., -0.08297712,
        -0.89627358, -0.36860532],
       ...,
       [ 0.85204776,  0.65610468,  0.13529608, ...,  0.31473483,
        -0.24349944, -0.20580995],
       [-0.28588785, -0.98133147, -0.79288963, ...,  0.96125889,
         1.22683976, -0.02316865],
       [ 1.15007851, -0.19293629, -0.2201793 , ...,  0.47883467,
         0.03988716,  3.50274063]])

In [15]:
x_test

array([[-0.0149508 ,  0.04964684, -0.63490057, ..., -0.27613401,
         1.43708679, -0.7498509 ],
       [-0.74648083,  0.26190709, -0.57565467, ..., -2.29241162,
        -1.11151128, -0.08527867],
       [-0.50263749, -1.2542375 , -0.35841972, ...,  1.19538301,
        -1.14975318,  2.08599253],
       ...,
       [ 1.0687974 ,  1.17159384,  0.13529608, ...,  0.39102323,
        -0.43272257, -0.11171605],
       [-0.82776195,  0.2012613 , -0.51640878, ..., -1.28414424,
         0.52612115,  1.51892962],
       [ 1.88160855, -1.37552907, -0.04244161, ...,  0.86382175,
         0.34035575, -1.36676811]])

In [16]:
y_train

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 1, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 1, 0]], dtype=uint8)

In [17]:
y_test

array([[0, 0, 1, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 1, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=uint8)

In [18]:
from sklearn.neighbors import KNeighborsClassifier
classifier=KNeighborsClassifier(n_neighbors=5)

In [19]:
classifier.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [20]:
y_pred=classifier.predict(x_test)

In [21]:
y_pred

array([[0, 0, 1, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 1, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=uint8)

In [22]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_pred))

0.9795454545454545

In [23]:
!pip install flask-ngrok

Collecting flask-ngrok
  Downloading flask_ngrok-0.0.25-py3-none-any.whl (3.1 kB)
Requirement already satisfied: Flask>=0.8 in /usr/local/lib/python3.7/dist-packages (from flask-ngrok) (1.1.4)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from flask-ngrok) (2.23.0)
Requirement already satisfied: itsdangerous<2.0,>=0.24 in /usr/local/lib/python3.7/dist-packages (from Flask>=0.8->flask-ngrok) (1.1.0)
Requirement already satisfied: click<8.0,>=5.1 in /usr/local/lib/python3.7/dist-packages (from Flask>=0.8->flask-ngrok) (7.1.2)
Requirement already satisfied: Jinja2<3.0,>=2.10.1 in /usr/local/lib/python3.7/dist-packages (from Flask>=0.8->flask-ngrok) (2.11.3)
Requirement already satisfied: Werkzeug<2.0,>=0.15 in /usr/local/lib/python3.7/dist-packages (from Flask>=0.8->flask-ngrok) (1.0.1)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from Jinja2<3.0,>=2.10.1->Flask>=0.8->flask-ngrok) (2.0.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->flask-ngrok) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->flask-ngrok) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->flask-ngrok) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->flask-ngrok) (1.24.3)
Installing collected packages: flask-ngrok
Successfully installed flask-ngrok-0.0.25

In [29]:
from flask import Flask,render_template,request
from flask_ngrok import run_with_ngrok
app=Flask(__name__)
run_with_ngrok(app)
@app.route('/')
def homepage():
  return render_template('crop.html')
@app.route('/',methods=['POST'])
def collectdata():
  n=request.form['n']
  p=request.form['p']
  k=request.form['k']
  temp=request.form['temp']
  humidity=request.form['humidity']
  ph=request.form['ph']
  rainfall=request.form['rainfall']
  i=[n,p,k,temp,humidity,ph,rainfall]
  j=data.iloc[:,:-1]
  j.loc[len(j.index)]=i
  j=j.values
  j=sc.fit_transform(j)
  t=(classifier.predict([j[-1]]))[0]
  t=list(t)
  dummy=pd.get_dummies(data.label)
  m=t.index(1)
  print(t)
  print(dummy.columns)
  print(dummy.columns[m])
  return(render_template('crop.html'))

if __name__=="__main__":
  app.run()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)

 * Running on http://1cf4-35-199-174-106.ngrok.io
 * Traffic stats available on http://127.0.0.1:4040

127.0.0.1 - - [13/Nov/2021 05:11:08] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [13/Nov/2021 05:11:10] "GET /favicon.ico HTTP/1.1" 404 -
127.0.0.1 - - [13/Nov/2021 05:11:27] "POST / HTTP/1.1" 200 -

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0]
Index(['apple', 'banana', 'blackgram', 'chickpea', 'coconut', 'coffee',
       'cotton', 'grapes', 'jute', 'kidneybeans', 'lentil', 'maize', 'mango',
       'mothbeans', 'mungbean', 'muskmelon', 'orange', 'papaya', 'pigeonpeas',
       'pomegranate', 'rice', 'watermelon'],
      dtype='object')
mothbeans